<h1>О проекте</h1>

<p>Проект TestGuru создан в рамках прохождения обучения по курсу "Основы Rails" в онлайн-школе
  <a href='http://www.thinknetica.com'>Thinknetica</a>.</p>
<p>Данный проекте позволдяет администраторам создавать тесты с вопросами и вариантами ответов и управлять ими. А вторая
  группа пользователей выбирают и проходят тесты, которые их заинтересовали. И могут опубликовать резальты в соцсети.</p>
<p>